<section class="py-5 text-center container">
  <div class="card bg-light border-dark mb-3">
    <h4 class="card-header">Welcome to WalkThru+</h4>
    <div class="card-body">
      <% if logged_in? %>
          <p class="card-text">You are Logged In, <%= current_user.username %></p>
      <% else %>
          <p class="card-text">Please Login or Signup</p>
      <%end%>
      <div class="flex-container">
        <%= button_to "Login", '/login', method: :get, class: 'btn btn-primary'%>
        <%= button_to "Sign Up", '/users/new', method: :get, class: 'btn btn-outline-secondary padded'%>
      </div>
    </div>
  </div>
</section>
